/* line 4, /home/nitrous/meta_genius/meta-genius/app/assets/stylesheets/welcome.scss */
body {
  font-family: 'Open Sans Condensed', arial, sans;
}

/* line 9, /home/nitrous/meta_genius/meta-genius/app/assets/stylesheets/welcome.scss */
h1 {
  margin-top: 15%;
  text-align: center;
  color: #9DBDC6;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 50px;
}

/* line 18, /home/nitrous/meta_genius/meta-genius/app/assets/stylesheets/welcome.scss */
a {
  color: #FFA75D;
  font-size: 30px;
}

/* line 22, /home/nitrous/meta_genius/meta-genius/app/assets/stylesheets/welcome.scss */
p {
  text-align: center;
}
