// Place all the styles related to the course_metafiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course_link{
  a{
    font-size: 16px;
  }
  p{
    text-align: left;
    color: #27A0A0;
    width: 60%;
    margin: 0 auto;

  }
/*   margin: 0 %; */
  float: left;
}