#back_button{
  font-size: 18px;
  padding: 5px 5px;
  text-align: center;
  width: 130px;
  min-width: 100px;
  background-color: #FFA75D;
  color: #FFFFFF;
  text-decoration: none !important;
  position: absolute;
  top:0;
  left:0;
  &:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
}
//

textarea{
  height:100px !important;
}
.suggested_input{
  width: 100%;
}
.close_button{
  color: white;
  background-color: rgba(229,14,0,0.8);
  width: 10%;
  float: left;
  padding: 0px;
}
.close_button:hover{
  background-color: rgb(158,10,0);
  border: none;
}
#suggest_button{
  margin-left: 10%;
}
#tagging_instructions{
  padding: 10px 2em 10px 2em;;
}
.name_input{
  width: 50%;
}
.tag_type_input{
  width: 30%;
}
.description_input{
  width: 80%;
  margin-left: 10%;
  overflow: scroll;
}
.tag_description{
  margin-bottom: 3px;
  font-size: 0.9em;
  color: rgba(0,0,0,0.7);
}
.tags_input_container{
  margin-bottom: 1.5rem;
}
.tags_input_container select{
  margin-bottom: 0;
}
#tags_master_container{
  background-color: rgba(186,186,186,0.1);
}
.pseudo_label{
  margin-bottom: 5px !important;
}
.required_label{
  color: rgba(229,14,57,0.8);
}
.help_image{
  padding-left: 7px;
}
