// Place all the styles related to the metafiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;

}
#form_container {
  font-family: 'Open Sans Condensed', arial, sans;
/*   width: 900px; */
  width: 40%;
  min-width: 550px;
  max-width: 950px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  overflow: auto;

  h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFB75D;
    font-size: 25px;
    font-weight: 200;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
  }

  select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
  }

  textarea{
    resize:none;
    overflow: hidden;
    padding:8px;
/*     width:450px; */
    width: 60%;
    min-width: 250px;
  }
  input {
/*     width:450px; */
    padding:5px 8px;
    width: 60%;
    min-width: 230px;
    margin-bottom: 5px;
  }
  input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 19px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    height: 45px;
    width: 300px;
    position: relative;
    left: 31%;
    margin-top: 14px;
    text-align: center;
  }
  input[type="button"]:hover, input[type="submit"]:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
  }
  input[type="text"]:focus{
    background-color: #FFFFFF;
  }
  label{
    width:150px;
    margin-top: 5p;
    display:block;
    float:left;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    padding: 5px;
  }

  #course_metafile_audience_tags, #tag_audience_tags{
    width: 60%;
    min-width: 250px;
        border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
  }
  .input{
    display: block;
    float: left;
    width: 90%;
    margin-left:5%;
  }
/*   .clip_container
  {
    float: left;
    margin-left: 5%;
  } */
  .remove_button{
    width: 40px;
    background-color:#0f0f00;
    color: #ffffff;
    border: none;
    display: inline;
    float: left;
    margin-left: 5%;
  }
  #clips_count{
    width: 35px;
  }
  #clips_title{
    float: left;
    width: 100%;
    text-align: center;
  }
}

#back_button{

    font-size: 25px;
    padding: 8px 18px;
  text-align: center;
  height: 54px;
    width: 5%;
    min-width: 100px;
    background-color: #FFA75D;
    color: #FFFFFF;

      text-decoration: none !important;

  position: fixed;
  top:0;
  left:0;
  &:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
}


