<!DOCTYPE html>
<html>
<head>
  <title>MetaGenius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "application", params[:controller] %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
